<turbo-frame id="step-three">
  <div style="padding-left: 40px" class="appear-animation">
    <p>So, apparently you think <b><%= params[:one]%></b> is <b><%= params[:two] %></b>?</p>
  </div>
</turbo-frame>