<turbo-frame id="step-three">
  <div style="padding-left: 40px" class="appear-animation">
    <h1>So, apparently you think <span style="color: red"><%= params[:one]%></span> is <span style="color: red"><%= params[:two] %></span>?</h1>
  </div>
</turbo-frame>